<div class="container">
  <div class="row">
    <div class="col-ms-6">
      <%= simple_form_for([:admin, @sample], html: {multipart: true}) do |f| %>
        <%= f.error_notification message: t('messages.error_notification') %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :title %>
          <%= f.input :price %>
          <%= f.input :quantity %>
          <%= f.input :status, default: 0 %>
          <%= render 'admin/shared/form_rich_text_content', f: f, object: @sample %>
          <%= render 'admin/shared/form_images', f: f, object: @sample %>
          <%= render 'admin/shared/form_actions', f: f, object: @sample %>
        </div>
      <% end %>
    </div>
  </div>
</div>
